<div class="wrapper wrapper-content">
  <div class="row animated fadeInDown">
      <div class="col-sm-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>代办事项</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="dropdown-toggle" data-toggle="dropdown" href="calendar.html#">
                          <i class="fa fa-wrench"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href="calendar.html#">选项1</a>
                          </li>
                          <li><a href="calendar.html#">选项2</a>
                          </li>
                      </ul>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div id='external-events'>
                      <p>可拖动的活动</p>
                      <div class='external-event navy-bg'>确定活动目标</div>
                      <div class='external-event navy-bg'>各部门职责及分工</div>
                      <div class='external-event navy-bg'>案例分享</div>
                      <div class='external-event navy-bg'>xxx</div>
                      <p class="m-t">
                          <input type='checkbox' id='drop-remove' class="i-checks" checked />
                          <label for='drop-remove'>移动后删除</label>
                      </p>
                  </div>
              </div>
          </div>
          <div class="ibox float-e-margins">
              <div class="ibox-content">
                  <h2>注意事项</h2> 这是一个jQuery插件，它提供了全尺寸，可拖动，使用Ajax的操作方式，并且可以使用自己的feed格式，如谷歌日历。
            
              </div>
          </div>
      </div>
      <div class="col-sm-9">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>日程表 </h5>
                  <div class="ibox-tools"> 
                  </div>
              </div>
              <div class="ibox-content">
                  <div id="calendar"></div>
              </div>
          </div>
      </div>
  </div>
</div>