<div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
              <h1 class="logo-name">S+</h1>
            </div>
            <h3>欢迎注册 S+</h3>
            <p>创建一个S+新账户</p>
            <div class="m-t contact_form" role="form" >
                <div class="form-group">
                    <input [(ngModel)]="uname" (ngModelChange)="checkName($event)" [ngClass]="{pass:isPass[0]}" type="text"  class="form-control" placeholder="请输入用户名" required>
                    <span class="form_hint">{{checkNameMsg}}</span>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="upwd" (ngModelChange)="checkPwd($event)" [ngClass]="{pass:isPass[1]}"  type="password" class="form-control" placeholder="请输入密码" required>
                    <span class="form_hint">{{checkPwdMsg}}</span>
                    
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="urpwd" (ngModelChange)="checkPwdSame($event)" [ngClass]="{pass:isPass[2]}" class="form-control" placeholder="请再次输入密码" required> 
                    <span class="form_hint">{{isSamePwd}}</span>      
                </div>
                <div class="form-group" style="text-align:left">
                    <input type="checkbox" [(ngModel)]="isAgree" required>
                    <label>我同意注册协议</label>  
                </div>
                <button type="submit" (click)="toRegister()" class="btn btn-primary block full-width m-b" [disabled]="(!isAgree ||!isPass[0] || !isPass[1] || !isPass[2])">
                    注 册
                </button>

                <p class="text-muted text-center"><small>已经有账户了？</small><a routerLink="/login">点此登录</a>
                </p>
            </div>
        </div>
    </div>